extends layouts/main-layout.pug

block content
    if !profileUser
        span.errorMessage Check the url you are trying to access
    else  
        script.
            const profileUserId = '!{profileUser._id}';
            let profileUser = '!{JSON.stringify(profileUser)}'
            const selectedTab = '!{selectedTab}';
            let currentUserObj = '!{JSON.stringify(userLoggedIn)}'

        .tabsContainer
            +createTab("Following", `/profile/${profileUser.username}/following`, selectedTab !== "followers")
            +createTab("Followers", `/profile/${profileUser.username}/followers`, selectedTab === "followers")

        .resultsContainer

block scripts
    script(src="/js/profile.js")